html, body {
    background-color: #222;
    margin: 0;
    padding: 0;
}


.h1 {
  font-size: 30px;
  font-weight: normal;
}


.h2 {
font-weight: normal;
  font-size: 40px;
}

.a {
  color: inherit;
  margin: 10px;
  padding-left: 20px;
}